<div id="paciente">

<p>
  <b>Nome:</b>
  <%= @paciente.nome %>
</p>

<p>
  <b>Cpf:</b>
  <%= @paciente.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%= @paciente.rg %>
</p>

<p>
  <b>Cartao sus:</b>
  <%= @paciente.cartao_sus %>
</p>

<p>
  <b>Data nascimento:</b>
  <%= @paciente.data_nascimento %>
</p>

<p>
  <b>Sexo:</b>
  <%= @paciente.sexo %>
</p>

<p>
  <b>Estado civil:</b>
  <%= @paciente.estado_civil %>
</p>

<p>
  <b>Cor:</b>
  <%= @paciente.cor %>
</p>

<p>
  <b>Naturalidade:</b>
  <%= @paciente.naturalidade %>
</p>

<p>
  <b>Grau instrucao:</b>
  <%= @paciente.grau_instrucao %>
</p>

<p>
  <b>Email:</b>
  <%= @paciente.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @paciente.telefone %>
</p>

<p>
  <b>Endereco:</b>
  <%= @paciente.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%= @paciente.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @paciente.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @paciente.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @paciente.estado %>
</p>

<p>
  <b>Cep:</b>
  <%= @paciente.cep %>
</p>

<p>
  <b>Profissao:</b>
  <%= @paciente.profissao %>
</p>

<p>
  <b>Observacao:</b>
  <%= @paciente.observacao %>
</p>

</div>
