<div id="posto">

<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @posto.nome %>
</p>

<p>
  <b>Endereço:</b>
  <%= @posto.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%= @posto.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @posto.bairro %>
</p>

<p>
  <b>CEP:</b>
  <%= @posto.cep %>
</p>

<p>
  <b>Cidade:</b>
  <%= @posto.cidade %>
</p>

<p>
  <b>Telefone:</b>
  <%= @posto.telefone %>
</p>


</div>
