<div id="medico">

<h1>Baixar Consulta</h1>

<table id="relatorio">
  <tr>
    <th>Paciente</th>
    <th>Médico</th>
    <th>Data</th>
    <th>Hora</th>
    <th>Data Conclusão</th>
    <th> </th>
  </tr>

  <% for marcacao in @marcacoes %>

  <% if marcacao.concluido? %>

  <% else %>
    <tr>
      <td><p><%= marcacao.paciente.nome %></p></td>
      <td><p><%= marcacao.medico.nome %></p></td>
      <td><p><%= marcacao.data.to_s_br %></p></td>
      <td><p><%= marcacao.hora %></p></td>
      <td><p><%= marcacao.data_conclusao.to_s_br%></p></td>
      <td>
        <%= link_to 'Concluir', concluir_marcacao_path(marcacao) %>
        <%end%>
    </tr>

  <% end %>
</table>

</div>
