<div id="medico">

<h1>Exames Concluídos</h1>

<div id='consulta'>
   <%= form_tag consultar_concluidas_exames_path, method: :get do %>
     <%= label_tag :data, 'Busca por data' %>
     <%= text_field_tag :data %>
     <%= submit_tag 'Buscar' %>
   <% end %>
</div>

<table id="relatorio">
  <tr>
    <th>Paciente</th>
    <th>Médico</th>
    <th>Data</th>
    <th>Hora</th>
    <th>Data Conclusão</th>
    <th>Conclusão</th>
  </tr>

  <% for exame in @exames %>

    <% if exame.concluido? %>
        <tr>
          <td><p><%= exame.paciente.nome %></p></td>
          <td><p><%= exame.medico.nome %></p></td>
          <td><p><%= exame.data.to_s_br %></p></td>
          <td><p><%= exame.hora %></p></td>
          <td><p><%= exame.data_conclusao.to_s_br%></p></td>
          <td><p><%= exame.conclusao %><p></td>

        </tr>
    <% else %>

    <% end %>
  <%end%>
</table>

</div>
