<div id="medico">

<p>
  <b>Paciente:</b>
  <%= @exame.paciente.nome %>
</p>

<p>
  <b>Médico:</b>
  <%= @exame.medico.nome %>
</p>

<p>
  <b>Data Exame:</b>
  <%= @exame.data.to_s_br %>
</p>

<p>
  <b>Hora:</b>
  <%= @exame.hora %>
</p>

<p>
  <b>Tipo:</b>
  <%= @exame.tipo %>
</p>

</div>
