<div id="medico">

<p>
  <b>Nome:</b>
  <%= @medico.nome %>
</p>

<p>
  <b>CRM:</b>
  <%= @medico.crm %>
</p>

<p>
  <b>Especialidade:</b>
  <%= @medico.especialidade.nome %>
</p>
<p>
  <b>Data Nascimento:</b>
  <%= @medico.data_nascimento.to_s_br %>
</p>

<p>
  <b>Sexo:</b>
  <%= @medico.sexo %>
</p>

<p>
  <b>Estado civil:</b>
  <%= @medico.estado_civil %>
</p>

<p>
  <b>Naturalidade:</b>
  <%= @medico.naturalidade %>
</p>

<p>
  <b>Grau Instrução:</b>
  <%= @medico.grau_instrucao %>
</p>

<p>
  <b>Telefone:</b>
  <%= @medico.telefone %>
</p>

<p>
  <b>Endereço:</b>
  <%= @medico.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%= @medico.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @medico.bairro %>
</p>

<p>
  <b>CEP:</b>
  <%= @medico.cep %>
</p>

<p>
  <b>Cidade:</b>
  <%= @medico.cidade %>
</p>

<p>
  <b>Posto:</b>
  <%= @medico.posto.nome %>
</p>

</div>
