<div id="formulario">

<%= semantic_form_for(@funcionario) do |f| %>


  <fieldset class="dados_fieldset">
    <legend> Dados Pessoais</legend>
    <br>
        <%= f.input :nome %>

        <%= f.input :cpf, label: "CPF", input_html: opcoes_para_cpf %>

        <%= f.input :rg, label: "RG"%>

        <%= f.input :sexo, as: :select, collection: ["Masculino", "Feminino"]%>

        <%= f.input :data_nascimento, as: :string, label: "Data Nascimento",
          input_html: opcoes_para_data %>

        <%= f.input :estado_civil, as: :select, collection: ["Solteiro", "Casado", "Separado", "Viúvo"] %>

        <%= f.input :cor, as: :select, collection: ["Negro", "Mulato Escuro", "Mulato Médio",
      "Mulato Claro", "Branco"] %>

        <%= f.input :naturalidade %>

        <%= f.input :grau_instrucao, label: "Grau Instrução"%>
  </fieldset>

  <br><br>

  <fieldset class="dados_fieldset">
    <legend> Dados Contato</legend>
    <br>

        <%= f.input :email, label: "E-mail"%>

        <%= f.input :telefone, input_html: opcoes_para_telefone %>

        <%= f.input :endereco, label: "Endereço"%>

        <%= f.input :complemento %>

        <%= f.input :bairro %>

        <%= f.input :cidade %>

        <%= f.input :estado, as: :select, collection: ["Acre", "Alagoas", "Amazonas", "Amapá", "Bahia", "Ceará", "Distrito Federal", "Espírito Santo", "Goiás", "Maranhão", "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro", "Rio Grande do Norte", "Rondônia", "Rio Grande do Sul", "Roraima", "Santa Catarina", "Sergipe", "São Paulo", "Tocantins"] %>

        <%= f.input :cep, label: "CEP", input_html: opcoes_para_cep %>
  </fieldset>

  <br><br>

  <fieldset class="dados_fieldset">
    <legend> Dados Autenticação</legend>
    <br>
        <%= f.input :password, label: 'Senha' %>
        <%= f.input :password_confirmation, as: :password, label: 'Confirmação' %>
  </fieldset>

  <br><br>

  <fieldset class="dados_fieldset">
    <legend> Dados Posto</legend>
      <br>

   		<%= f.input :posto, member_label: :nome, include_blank: true%>
      <%= f.input :tipo, as: :select, collection: ["Administrador", "Atendente"] %>      
   	</fieldset>




<br><br>
  <%= f.submit 'Salvar' %>
<% end %>

</div>
