<div id="funcionario">

<p>
  <b>Nome:</b>
  <%= @funcionario.nome %>
</p>

<p>
  <b>CPF:</b>
  <%= @funcionario.cpf %>
</p>

<p>
  <b>RG:</b>
  <%= @funcionario.rg %>
</p>

<p>
  <b>Sexo:</b>
  <%= @funcionario.sexo %>
</p>

<p>
  <b>Data Nascimento:</b>
  <%= @funcionario.data_nascimento.to_s_br %>
</p>

<p>
  <b>Estado civil:</b>
  <%= @funcionario.estado_civil %>
</p>

<p>
  <b>Cor:</b>
  <%= @funcionario.cor %>
</p>

<p>
  <b>Naturalidade:</b>
  <%= @funcionario.naturalidade %>
</p>

<p>
  <b>Grau Instrução:</b>
  <%= @funcionario.grau_instrucao %>
</p>

<p>
  <b>E-mail:</b>
  <%= @funcionario.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @funcionario.telefone %>
</p>

<p>
  <b>Endereço:</b>
  <%= @funcionario.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%= @funcionario.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @funcionario.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @funcionario.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @funcionario.estado %>
</p>

<p>
  <b>CEP:</b>
  <%= @funcionario.cep %>
</p>

<p>
  <b>Login:</b>
  <%= @funcionario.login %>
</p>

<p>
  <b>Senha:</b>
  <%= @funcionario.senha %>
</p>

<p>
  <b>Posto:</b>
  <%= @funcionario.posto.nome %>
</p>

</div>
